DIV.ddblock-cycle-upright50 DIV#pager {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN-LEFT: 6px; BORDER-LEFT: #ccc 1px solid; WIDTH: 182px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 300px
}
.slider_border {
	FLOAT: left; WIDTH: 620px
}
.container {
	WIDTH: 819px
}
.slide-inner {
	WIDTH: 620px
}
.custom-pager-inner {
	FLOAT: left; WIDTH: 175px
}
#pager {
	FLOAT: left; WIDTH: 175px
}
#ddblock-custom-pager-8 {
	FLOAT: left; WIDTH: 175px
}
DIV.ddblock-cycle-upright50 DIV.slider {
	FLOAT: left; WIDTH: 620px
}
DIV.ddblock-cycle-upright50 DIV.slider-inner {
	BACKGROUND: url(../images/transparent_bg.png) 0px 0px; VISIBILITY: hidden; OVERFLOW: hidden; HEIGHT: 305px
}
DIV.ddblock-cycle-upright50 DIV.slide {
	DISPLAY: none; LEFT: 0px; TOP: 0px; HEIGHT: 100%
}
DIV.ddblock-cycle-upright50 DIV.slide-inner IMG {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 0px! important; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; BORDER-LEFT: #000 1px solid; WIDTH: 620px; PADDING-TOP: 0px! important; BORDER-BOTTOM: #000 1px solid; HEIGHT: 305px
}
DIV.ddblock-cycle-upright50 DIV.slide-text {
	BACKGROUND: url(../images/transparent_bg.png) 0px 0px; POSITION: absolute
}
DIV.ddblock-cycle-upright50 DIV.slide-text-horizontal {
	LEFT: 0px; WIDTH: 620px; HEIGHT: 100px
}
DIV.ddblock-cycle-upright50 DIV.slide-text-top {
	TOP: 7px
}
DIV.ddblock-cycle-upright50 DIV.slide-text-right {
	RIGHT: 30px; BOTTOM: 0px
}
DIV.ddblock-cycle-upright50 DIV.slide-text-bottom {
	BOTTOM: 7px
}
DIV.ddblock-cycle-upright50 DIV.slide-text-left {
	LEFT: 30px; BOTTOM: 0px
}
DIV.ddblock-cycle-upright50 DIV.slide-text-inner {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
DIV.ddblock-cycle-upright50 DIV.slide-title {
	FLOAT: left
}
DIV.ddblock-cycle-upright50 DIV.slide-title-vertical {
	WIDTH: 130px
}
DIV.ddblock-cycle-upright50 DIV.slide-title-horizontal {
	FLOAT: left; WIDTH: 158px
}
DIV.ddblock-cycle-upright50 DIV.slide-title H2 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.ddblock-cycle-upright50 DIV.slide-title-inner {
	FONT-WEIGHT: bold; COLOR: white
}
DIV.ddblock-cycle-upright50 DIV.slide-body-vertical {
	WIDTH: 132px
}
DIV.ddblock-cycle-upright50 DIV.slide-body-horizontal {
	FLOAT: left; WIDTH: 290px
}
DIV.ddblock-cycle-upright50 DIV.slide-body-inner {
	COLOR: white
}
DIV.ddblock-cycle-upright50 DIV.slide-body-inner P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 8px 0px 0px; PADDING-TOP: 0px
}
DIV.ddblock-cycle-upright50 DIV.slide-read-more {
	WIDTH: 500px
}
DIV.ddblock-cycle-upright50 DIV.slide-read-more P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.ddblock-cycle-upright50 DIV.slide-read-more A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 19px; FONT-SIZE: 14px; BACKGROUND: url(../images/readmore.png) no-repeat; PADDING-BOTTOM: 4px; MARGIN: 0px 10px 0px 0px; WIDTH: 100px; COLOR: #fff; BORDER-TOP-STYLE: none; BOTTOM: 5px; PADDING-TOP: 4px; FONT-FAMILY: times New Roman; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: absolute; TEXT-ALIGN: left; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
DIV.ddblock-cycle-upright50 DIV.slide-read-more-horizontal A {
	RIGHT: -17px
}
DIV.ddblock-cycle-upright50 DIV.slide-read-more-vertical A {
	RIGHT: 5px
}
DIV.ddblock-cycle-upright50 DIV.slide-read-more A:hover {
	BACKGROUND: url(../images/readmore-hover.png) no-repeat; TEXT-DECORATION: underline
}
DIV.ddblock-cycle-upright50 DIV.slide-read-more-horizontal A:hover {
	RIGHT: -17px
}
DIV.ddblock-cycle-upright50 DIV.slide-read-more-vertical A:hover {
	RIGHT: 5px
}
DIV.ddblock-cycle-upright50 DIV.custom-pager {
	WIDTH: 182px
}
DIV.ddblock-cycle-upright50 DIV.custom-pager-inner {
	HEIGHT: 101px
}
DIV.ddblock-cycle-upright50 DIV.custom-pager .custom-pager-item {
	FLOAT: left
}
DIV.ddblock-cycle-upright50 DIV.custom-pager .custom-pager-item-inner {
	WIDTH: 182px
}
DIV.ddblock-cycle-upright50 DIV.custom-pager A {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; FLOAT: left; BACKGROUND-IMAGE: url(../images/slide_back.gif); WIDTH: 182px; COLOR: #000; LINE-HEIGHT: 50px; FONT-FAMILY: Tahoma,Arial,sans-serif; HEIGHT: 60px; TEXT-ALIGN: left; TEXT-DECORATION: none; opacity: 0.7
}
DIV.ddblock-cycle-upright50 DIV.custom-pager A.activeSlide {
	BACKGROUND-IMAGE: url(../images/slide_hover.gif); COLOR: #fff; opacity: 1
}
DIV.ddblock-cycle-upright50 DIV.custom-pager A:hover {
	BACKGROUND: #fff; COLOR: #96f; opacity: 1
}
DIV.ddblock-cycle-upright50 DIV.custom-pager A:focus {
	outline: none
}
DIV.ddblock-cycle-upright50 DIV.custom-pager IMG {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 3px! important; BORDER-TOP: #000 1px solid; PADDING-LEFT: 3px! important; PADDING-BOTTOM: 3px! important; MARGIN: 5px; VERTICAL-ALIGN: middle; BORDER-LEFT: #000 1px solid; WIDTH: 50px; PADDING-TOP: 3px! important; BORDER-BOTTOM: #000 1px solid; HEIGHT: 35px
}
DIV.ddblock-cycle-upright50 DIV.spacer-vertical {
	DISPLAY: block; FLOAT: left; WIDTH: 5px; HEIGHT: 50px; BACKGROUND-COLOR: #ccc
}
DIV.ddblock-cycle-upright50 DIV.spacer-horizontal {
	CLEAR: both; HEIGHT: 5px; BACKGROUND-COLOR: #ccc
}
