.yk-h-clearfix:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.yk-h-clearfix {
	ZOOM: 1
}
.yk-h-top-wrapper UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.yk-h-navigation-bar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.yk-h-small UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.yk-h-top-wrapper LI {
	LIST-STYLE-TYPE: none
}
.yk-h-navigation-bar LI {
	LIST-STYLE-TYPE: none
}
.yk-h-small LI {
	LIST-STYLE-TYPE: none
}
.yk-h-top-wrapper A:link {
	TEXT-DECORATION: none
}
.yk-h-navigation-bar A:link {
	TEXT-DECORATION: none
}
.yk-h-small A:link {
	TEXT-DECORATION: none
}
.yk-h-top-wrapper A:visited {
	TEXT-DECORATION: none
}
.yk-h-navigation-bar A:visited {
	TEXT-DECORATION: none
}
.yk-h-small A:visited {
	TEXT-DECORATION: none
}
.yk-h-top-wrapper A:hover {
	TEXT-DECORATION: underline
}
.yk-h-navigation-bar A:hover {
	TEXT-DECORATION: underline
}
.yk-h-small A:hover {
	TEXT-DECORATION: underline
}
.yk-h-top-wrapper IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.yk-h-navigation-bar IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.yk-h-small IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.yk-h-top-wrapper {
	FONT-SIZE: 12px; BACKGROUND: #fff; MARGIN: 0px auto; COLOR: #111; LINE-HEIGHT: 1.231; FONT-FAMILY: SimSun,verdana,arial,helvetica,clean,sans-serif; TEXT-ALIGN: left
}
.yk-h-navigation-bar {
	FONT-SIZE: 12px; BACKGROUND: #fff; MARGIN: 0px auto; COLOR: #111; LINE-HEIGHT: 1.231; FONT-FAMILY: SimSun,verdana,arial,helvetica,clean,sans-serif; TEXT-ALIGN: left
}
.yk-h-width-auto {
	MIN-WIDTH: 950px; WIDTH: 100%
}
.yk-h-width-950 {
	WIDTH: 950px
}
.yk-h-width-760 {
	WIDTH: 760px
}
.yk-h-width-750 {
	WIDTH: 750px
}
.yk-h-top-wrapper {
	MARGIN-BOTTOM: 10px
}
.yk-h-top-navigation {
	PADDING-TOP: 5px
}
.yk-h-top-navigation A {
	COLOR: #111! important
}
.yk-h-switch-version {
	FLOAT: left
}
.yk-h-switch-version SPAN.delimiter {
	MARGIN: 0px 5px; COLOR: #ccc
}
.yk-h-account-tool {
	TEXT-ALIGN: right
}
.yk-h-account-tool A {
	MARGIN-LEFT: 8px
}
.yk-h-account-tool A.yk-h-message {
	PADDING-LEFT: 15px; BACKGROUND: url(images/sprites_1_0_5.gif) no-repeat left -450px
}
.yk-h-account-tool A.yk-h-message-none {
	PADDING-LEFT: 15px; BACKGROUND: url(images/sprites_1_0_5.gif) no-repeat left -500px
}
.yk-h-account-tool A.yk-h-user-name {
	MARGIN: 0px
}
.yk-h-top-ls {
	MARGIN-TOP: 10px
}
#logo {
	MARGIN-TOP: 10px; FLOAT: left
}
#logo IMG {
	VERTICAL-ALIGN: middle
}
#logo {
	FLOAT: left; WIDTH: 170px; HEIGHT: 32px
}
#logo H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#logo H1 A {
	DISPLAY: block; FLOAT: left; BACKGROUND-IMAGE: url(logo.gif); WIDTH: 170px; TEXT-INDENT: -9000px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 32px; TEXT-DECORATION: none
}
.yk-h-search {
	MARGIN-TOP: 10px; FLOAT: left; MARGIN-LEFT: 30px
}
.yk-h-small {
	FONT-SIZE: 12px; BACKGROUND: url(images/sprites_1_0_5.gif) repeat-x 0px -800px; MARGIN: 0px auto; COLOR: #111; FONT-FAMILY: SimSun,verdana,arial,helvetica,clean,sans-serif; TEXT-ALIGN: left
}
.yk-h-small A {
	COLOR: #111
}
.yk-h-small-wrapper {
	MARGIN: 0px auto; WIDTH: 950px; HEIGHT: 35px
}
.yk-h-small-navigation {
	FLOAT: left
}
.yk-h-small-navigation LI {
	FLOAT: left
}
.yk-h-small-navigation LI SPAN {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 1px
}
.yk-h-small-navigation LI.first SPAN {
	MARGIN-LEFT: 3px; BORDER-LEFT: medium none
}
.yk-h-small-logo {
	FLOAT: left; PADDING-TOP: 7px
}
.yk-h-small-more {
	PADDING-RIGHT: 10px; BACKGROUND: url(images/sprites_1_0_5.gif) no-repeat 36px -897px
}
.yk-h-small-shadow {
	BACKGROUND: url(images/sprites_1_0_5.gif) repeat-x 0px -850px; HEIGHT: 3px
}
.yk-h-small .yk-h-account-tool {
	PADDING-TOP: 13px
}
UL.yk-h-small-navigation {
	PADDING-TOP: 13px
}
#yk-h-local-search {
	FLOAT: left; MARGIN: 22px 0px 0px 49px
}
#yk-h-search-tab {
	Z-INDEX: 4; POSITION: relative
}
#yk-h-search-tab A {
	COLOR: #2754bb
}
#yk-h-search-tab LI {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; FLOAT: left; MARGIN-LEFT: 10px; OVERFLOW: hidden; HEIGHT: 24px
}
#yk-h-search-tab LI SPAN {
	PADDING-LEFT: 10px; BORDER-LEFT: #c9d6e9 1px solid; LINE-HEIGHT: 25px
}
#yk-h-search-tab LI.first {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px; BORDER-LEFT-STYLE: none
}
#yk-h-search-tab LI.first SPAN {
	PADDING-LEFT: 5px; FLOAT: left; BORDER-LEFT-STYLE: none
}
#yk-h-search-tab LI.current {
	BACKGROUND: url(images/sprites_1_0_5.gif) no-repeat left -200px
}
#yk-h-search-tab LI.current SPAN {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; BACKGROUND: url(images/sprites_1_0_5.gif) no-repeat right -200px; FLOAT: left; MARGIN-LEFT: 6px; BORDER-LEFT-STYLE: none; HEIGHT: 24px
}
#yk-h-search-tab LI.current SPAN A {
	COLOR: #111
}
#yk-h-search-tab LI.current SPAN A:hover {
	TEXT-DECORATION: none
}
#yk-h-search-tab LI.current-next {
	MARGIN-LEFT: 0px
}
#yk-h-search-tab LI.current-next SPAN {
	BORDER-LEFT-STYLE: none
}
#yk-tab-more A {
	PADDING-RIGHT: 7px; BACKGROUND: url(images/sprites_1_0_5.gif) no-repeat 32px -596px
}
#yk-h-search-container {
	MARGIN-TOP: -1px; Z-INDEX: 3; FLOAT: left; POSITION: relative
}
#yk-h-search-input {
	BORDER-RIGHT: #e0d7b0 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #e0d7b0 1px solid; PADDING-LEFT: 3px; BACKGROUND: url(http://k.kbcdn.com/product/common/header/images/sprites_1_0_5.gif) white repeat-x 0px -700px; FLOAT: left; PADDING-BOTTOM: 3px; BORDER-LEFT: #e0d7b0 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #e0d7b0 1px solid
}
#yk-h-option-key {
	BORDER-RIGHT: #e1e1e1 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 14px; BACKGROUND: url(images/sprites_1_0_5.gif) no-repeat 0px -550px; FLOAT: left; PADDING-BOTTOM: 3px; WIDTH: 370px; BORDER-TOP-STYLE: none; PADDING-TOP: 4px; BORDER-BOTTOM: #f5f5f5 1px solid; BORDER-LEFT-STYLE: none; HEIGHT: auto
}
.yk-h-input-short {
	WIDTH: 300px! important
}
.yk-h-input-complex {
	WIDTH: 190px! important
}
#yk-h-option-city {
	BORDER-RIGHT: #e1e1e1 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 14px; BACKGROUND: url(images/sprites_1_0_5.gif) no-repeat 0px -550px; FLOAT: left; PADDING-BOTTOM: 3px; WIDTH: 123px; BORDER-TOP-STYLE: none; PADDING-TOP: 4px; BORDER-BOTTOM: #f5f5f5 1px solid; BORDER-LEFT-STYLE: none; HEIGHT: auto
}
#yk-h-search-input .yk-h-search-button {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; Z-INDEX: 4; BACKGROUND: url(http://k.kbcdn.com/product/common/header/images/sprites_1_0_5.gif) no-repeat 0px -350px; FLOAT: left; MARGIN-LEFT: -1px; WIDTH: 90px; BORDER-TOP-STYLE: none; LINE-HEIGHT: 24px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative; HEIGHT: 24px; BORDER-BOTTOM-STYLE: none
}
#yk-h-search-input BUTTON.button SPAN {
	LINE-HEIGHT: 25px
}
#yk-h-search-key-pre {
	FONT-SIZE: 14px; FLOAT: left; MARGIN: 4px 6px 0px 3px
}
#yk-h-search-at-pre {
	FONT-SIZE: 14px; FLOAT: left; MARGIN: 4px 6px 0px
}
.yk-h-navigation-bar {
	MARGIN: -2px auto 10px
}
.yk-h-city-wrapper {
	FLOAT: left; MARGIN-BOTTOM: 3px; OVERFLOW: hidden; WIDTH: 165px; MARGIN-RIGHT: 5px; TEXT-ALIGN: left
}
.yk-h-city {
	FONT-WEIGHT: bold; FONT-SIZE: 35px; COLOR: #333; LINE-HEIGHT: 38px; ZOOM: 1; FONT-FAMILY: simhei
}
.yk-h-city-wrapper A.yk-h-change-city {
	PADDING-RIGHT: 7px; BACKGROUND: url(sprites_1_0_5.jpg) no-repeat 52px -596px; MARGIN-LEFT: 4px; OVERFLOW: hidden; COLOR: #2754bb; ZOOM: 1; TEXT-DECORATION: underline
}
.yk-h-city-wrapper A.yk-h-change-city:hover {
	COLOR: #f60
}
.yk-h-long-city {
	MARGIN-TOP: 5px
}
.yk-h-hide-city {
	WIDTH: 115px
}
.yk-h-long-city .yk-h-city {
	DISPLAY: block; FONT-SIZE: 14px; LINE-HEIGHT: 16px; ZOOM: 0; FONT-FAMILY: simsun
}
.yk-h-menu {
	Z-INDEX: 2; FLOAT: left; POSITION: relative
}
.yk-h-menu LI {
	MARGIN-TOP: 14px; DISPLAY: inline; FONT-SIZE: 14px; FLOAT: left; MARGIN-RIGHT: 2px; POSITION: relative; HEIGHT: 27px; TEXT-ALIGN: center
}
.yk-h-menu LI SPAN.yk-h-new {
	RIGHT: 5px; BACKGROUND: url(http://k.kbcdn.com/product/common/header/images/sprites_1_0_5.gif) no-repeat 0px -400px; WIDTH: 15px; POSITION: absolute; TOP: -10px; HEIGHT: 15px
}
.yk-h-menu LI A {
	BACKGROUND-POSITION: 0px -50px; FLOAT: left; BACKGROUND-IMAGE: url(http://k.kbcdn.com/product/common/header/images/sprites_1_0_5.gif); COLOR: #111! important; LINE-HEIGHT: 27px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px; TEXT-DECORATION: none! important
}
.yk-h-menu LI A SPAN {
	PADDING-RIGHT: 11px; BACKGROUND-POSITION: 100% -50px; FLOAT: left; BACKGROUND-IMAGE: url(http://k.kbcdn.com/product/common/header/images/sprites_1_0_5.gif); MARGIN-LEFT: 11px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px
}
.yk-h-menu LI A:hover {
	BACKGROUND-POSITION: 0px -100px
}
.yk-h-menu LI A:active {
	BACKGROUND-POSITION: 0px -100px
}
.yk-h-menu LI A:hover SPAN {
	BACKGROUND-POSITION: 100% -100px
}
.yk-h-menu LI A:active SPAN {
	BACKGROUND-POSITION: 100% -100px
}
.yk-h-navigation-bar .yk-h-menu LI.current {
	MARGIN-TOP: 11px; HEIGHT: 30px
}
.yk-h-navigation-bar .yk-h-menu LI.current A {
	BACKGROUND-POSITION: 0px 0px; FONT-WEIGHT: bold; OVERFLOW: hidden; COLOR: white! important; LINE-HEIGHT: 31px; HEIGHT: 30px; BACKGROUND-COLOR: #fa4b31
}
.yk-h-navigation-bar .yk-h-menu LI.current A SPAN {
	BACKGROUND-POSITION: 100% 0px; HEIGHT: 30px; BACKGROUND-COLOR: #fa4b31
}
.yk-h-sub-bar {
	MARGIN-TOP: -2px; FLOAT: left; WIDTH: 100%; POSITION: relative
}
.yk-h-sub-hl {
	BACKGROUND: url(http://k.kbcdn.com/product/common/header/images/sprites_1_0_5.gif) no-repeat 0px -250px; FLOAT: left; WIDTH: 5px; POSITION: relative; HEIGHT: 30px
}
.yk-h-sub-hr {
	BACKGROUND: url(http://k.kbcdn.com/product/common/header/images/sprites_1_0_5.gif) no-repeat 0px -300px; FLOAT: right; WIDTH: 5px; POSITION: relative; HEIGHT: 30px
}
.yk-h-sub {
	BACKGROUND: url(http://k.kbcdn.com/product/common/header/images/sprites_1_0_5.gif) #f10f21 repeat-x 0px -650px; FLOAT: left; MARGIN: 0px -5px; WIDTH: 100%; HEIGHT: 30px
}
.yk-h-sub-text {
	MARGIN: 8px 0px 0px 10px; COLOR: #ffe8d9
}
.yk-h-sub-text A {
	COLOR: #ffe8d9! important; MARGIN-RIGHT: 13px
}
UL.yk-h-sub-menu {
	MARGIN: 4px 0px 0px 10px
}
UL.yk-h-sub-menu LI {
	MARGIN-TOP: 3px; FONT-SIZE: 14px; FLOAT: left; MARGIN-LEFT: 6px
}
UL.yk-h-sub-menu LI A {
	COLOR: #ffe8d9! important; TEXT-DECORATION: none! important
}
UL.yk-h-sub-menu LI A:hover {
	COLOR: #ffff00; TEXT-DECORATION: underline! important
}
UL.yk-h-sub-menu LI SPAN A {
	COLOR: #ffe8d9! important; TEXT-DECORATION: none! important
}
UL.yk-h-sub-menu LI SPAN A:hover {
	COLOR: #ffff00; TEXT-DECORATION: underline! important
}
UL.yk-h-sub-menu LI.first {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px; BORDER-LEFT-STYLE: none
}
UL.yk-h-sub-menu LI SPAN {
	PADDING-LEFT: 11px; BACKGROUND: url(sprites_1_0_5.gif) no-repeat 0px -750px
}
UL.yk-h-sub-menu LI.first SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
UL.yk-h-sub-menu LI.current {
	MARGIN-TOP: 0px; BACKGROUND: url(sprites_1_0_5.gif) no-repeat 0px -150px
}
UL.yk-h-sub-menu LI.current SPAN {
	PADDING-RIGHT: 9px; PADDING-LEFT: 0px; BACKGROUND: url(sprites_1_0_5.gif) no-repeat 100% -150px; FLOAT: left; MARGIN-LEFT: 10px; HEIGHT: 26px
}
UL.yk-h-sub-menu LI.current SPAN A {
	FONT-WEIGHT: bold; COLOR: #dc032e! important; LINE-HEIGHT: 25px
}
UL.yk-h-sub-menu LI.current SPAN A:hover {
	TEXT-DECORATION: none! important
}
UL.yk-h-sub-menu LI.current-next {
	MARGIN-LEFT: 0px
}
UL.yk-h-sub-menu LI.current-next SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.lh20 {
	LINE-HEIGHT: 20px
}
#friend-links:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
#friend-links {
	ZOOM: 1
}
#friend-links {
	FONT-SIZE: 12px; MARGIN: 0px auto; WIDTH: 950px
}
#friend-links STRONG {
	FLOAT: left; MARGIN-BOTTOM: 10px; HEIGHT: 20px
}
#friend-links UL {
	FLOAT: left; WIDTH: 880px
}
#friend-links LI {
	LIST-STYLE: none none outside; DISPLAY: inline; FLOAT: left; MARGIN-BOTTOM: 4px; MARGIN-RIGHT: 5px
}
#friend-links A:link {
	COLOR: #666; TEXT-DECORATION: none
}
#friend-links A:visited {
	COLOR: #666; TEXT-DECORATION: none
}
#friend-links A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
#friend-links A:active {
	COLOR: #f60; TEXT-DECORATION: underline
}
#footer {
	PADDING-RIGHT: 0px; BORDER-TOP: #f60 2px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 10px auto; WIDTH: 950px; LINE-HEIGHT: 18px; PADDING-TOP: 10px; FONT-FAMILY: "",Arial,Helvetica,sans-serif; TEXT-ALIGN: center
}
#copyright {
	MARGIN: 1px 0px; FONT: 12px/20px Arial, "????" ,Helvetica,sans-serif; TEXT-ALIGN: center
}
#footer A {
	PADDING-RIGHT: 0px
}
#footer UL LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 7px; BACKGROUND: url(global_icon.gif) no-repeat 0px -43px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.8em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
#footer UL LI.first {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
