<!-- $Id: about_us.htm 12971 2007-10-16 01:50:34Z weberliu $ -->
{include file="pageheader.htm"}
<div class="list-div">
<table cellspacing='1' cellpadding='3'>

  <tr>
    <td width="20%" class="first-cell">{$lang.director}</td><td>
    Paul Gao, Weber Liu
    </td>
  </tr>
  <tr>
    <td class="first-cell">{$lang.programmer}</td><td>
      Weber Liu,
      Scott Ye,
      Wenjin Zhang,
      Yan Xuan,
      Paul Gao,
      Steven liu,
      Hackfan,
      Edison rao
    </td>
  </tr>
  <tr>
    <td class="first-cell">{$lang.ui_designer}</td><td>
      Weber Liu,
      HengQi Lu,
      Yecior
    </td>
  </tr>
  <tr>
    <td class="first-cell">{$lang.documentation}</td><td>
      Lily Chai,
      Bei Wang
    </td>
  </tr>
</table>
</div>
<br />
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="2" class="group-title">{$lang.special_thanks}</th>
  </tr>
  <tr>
    <td class="first-cell" width="20%">Xinggo</td><td></td>
  </tr>
  <tr>
    <td class="first-cell" width="20%">Yan Cao</td><td></td>
  </tr>
  <tr>
    <td class="first-cell" width="20%">RongPing Li</td><td></td>
  </tr>
  <tr>
    <td class="first-cell" width="20%">ChaoQian Xu</td><td></td>
  </tr>
  <tr>
    <td class="first-cell" width="20%">Kai Yang</td><td></td>
  </tr>
</table>
</div>
<br />

{literal}
<script type="Text/Javascript" language="JavaScript">
<!--
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}